

.container {
  
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 300px;
    text-align: center;
}

.form-container {
  
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
}
#rating{
    width: 500px;
}
input {
    width: 95%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}


.container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 400px;
    text-align: center;
    display: block;
}

 textarea {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 90%;
}

button {
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#results {
    margin-top: 20px;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;

}

.brewery {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

.brewery a {
    color: #007BFF;
    text-decoration: none;
}

.brewery a:hover {
    text-decoration: underline;
}
/* styles.css */



.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.input-field {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
}

.submit-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #218838;
}

#city-search{
    width: 300px;
}

.logout{
    padding: 10px;
    background-color:#007BFF;
    color: white;
    position: relative;
    left: 60%;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.reviewsss{
    margin: auto;
    padding: 25px;
   width: 575px;
   box-sizing: border-box;
   background-color: #fff;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.685);
   border-radius: 5px;
}

.godown{
    position: relative;
    left: 250px;
}